 /*autoprefixer grid: on */
@import 'scss/_colors.scss';
@import '~nprogress/nprogress';
@import 'scss/Nav.scss';

body{
  background-color: #fff;
  color: #999;
}
a{
  color: $primary-color;
  text-decoration: none;
  &:visited{
    color: $primary-color;
  }
  &:hover{
    color: $secondary-color;
  }
}
.d-inline-block{
  display: inline-block;
}
.padding-x-m{
  padding-right: $gap-m;
  padding-left: $gap-m;
}
.padding-x-s{
  padding-right: $gap-s;
  padding-left: $gap-s;
}
ul.list-lined{
  li{
    list-style: none;
    padding-top: $gap-s;
    padding-bottom: $gap-s;
    border-bottom: 1px solid #eee;
  }
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1,h6{
  margin-top: 0;
}
.Test{
  background-image: url(./logo.svg);
}
.mb-5{
  margin-bottom: 1rem;
}
.text-blue{
  color: blue;
}
.post{
  margin-bottom: $gap-m;
  padding: $gap-m;
  border: 1px solid rgba($primary-color, .2);
  border-radius: 10px;
  color: $grey;
}
.comment{
  margin-bottom: $gap-m;
  padding: $gap-s;
  background-color: rgba($primary-color, .05);
}
.create-new-post{
  font-size: 2rem;
  position: fixed;
  right: 10px;
  top: 80px;
}
button{
  background-color: blue;
  color: yellow;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 6px;
  padding: 6px 12px;
  &:hover{
    background-color: darken(blue, 10);
  }
}
input,
textarea{
  padding: 6px 12px;
  margin-top: 2px;
  margin-bottom: 6px;
  border-radius: 5px;
  border: 1px solid grey;
}
